<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <ul><li style="margin-left: 45px;"><p>Welcome to Blog Wave, where we ride the tides of ideas and inspiration. Our blog is a sanctuary for those who seek to explore a vast ocean of topics ranging from technology and innovation to personal development and lifestyle. We believe in the power of words and the impact they can have on our lives.</p><br></li></ul>
        <ul><li style="margin-left: 45px;"><p>At Blog Wave, we are dedicated to delivering insightful, engaging, and thought-provoking content that resonates with our readers. Whether you are here to learn something new, find motivation, or simply enjoy a good read, we have something for everyone.</p><br></li></ul>
        <ul><li style="margin-left: 45px;"><p>Our team of passionate writers and contributors is committed to bringing you high-quality articles that are both informative and enjoyable. We aim to create a community where ideas can flow freely and readers can connect with like-minded individuals.</p><br></li></ul>
        <ul><li style="margin-left: 45px;"><p>Thank you for joining us on this journey. We hope you find our blog both enriching and inspiring. Dive into the waves of thoughts and let the adventure begin!</p><br></li></ul>

    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>